<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.varsitysoftware.cordova.androidvideoplayer"
    version="1.0.0">

    <name>AndroidVideoPlayer</name>
        
    <engines>
        <engine name="cordova" version=">=2.4.0" />
    </engines>
        
    <js-module src="www/android/androidvideoplayer.js" name="AndroidVideoPlayer">
        <clobbers target="window.AndroidVideoPlayer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="app/src/main/res/xml/config.xml" parent="/*">
            <feature name="AndroidVideoPlayer">
                <param name="android-package" value="com.varsitysoftware.cordova.androidvideoplayer.AndroidVideoPlayer"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/AndroidVideoPlayer.java" target-dir="app/src/com/varsitysoftware/cordova/androidvideoplayer" />      
     </platform>          
</plugin>
