<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.varsitysoftware.plugins.android.videoplayer"
    version="1.0.0">

    <name>VideoPlayer</name>
        
    <engines>
        <engine name="cordova" version=">=2.4.0" />
    </engines>
        
    <js-module src="www/android/androidvideoplayer.js" name="VideoPlayer">
        <clobbers target="window.VideoPlayer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.varsitysoftware.plugins.android.videoplayer.VideoPlayer"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/VideoPlayer.java" target-dir="src/com/varsitysoftware/plugins/android/videoplayer" />      
     </platform>          
</plugin>
